footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--white);
}

footer .wrapper {
    border-top: 1px solid var(--stroke);
    padding: .5rem 16px;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 32px;
}